
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Josefin+Sans&family=Signika+Negative&display=swap');

*{
    text-decoration: none;
    box-shadow: none;
    font-family: 'Signika Negative', sans-serif;
    text-decoration-color: none;
}

.important-new{
    margin-top: 30px;

}

.main-title{

    font-family: 'Hammersmith One', sans-serif;
    font-size: 70px;
}


.secondary-new-img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
    object-fit: cover;

}



.last-news{
    border: 2px solid rgb(187, 187, 187);
    border-bottom: 6px solid rgb(70, 54, 216);
    margin-top: 100px;
    padding:1%;
    margin-bottom: 10px;
   
    text-decoration: none;
}

.last-new-img{
    margin-right: 15px;
}

.text-ln{
    
}

.last-new-title{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
    margin-left: 5px;
   
}

.last-new-text{
    margin-top: 25px;
    font-size: 20px;
}

